/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f3f6;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(24, 23, 23);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.search-bar {
    padding: 10px;
    margin-right: 20px;
    border: none;
    width: 650px;
    border-radius: 8px;
    background-color: aliceblue;
}

.login-btn, .bas, .cart {
    margin: 0 10px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #ffffff;
    margin-top: 60px
}

.navbar .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    color: #333;
    text-align: center;
}

.navbar .nav-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.navbar .nav-item:hover {
    color: #2874f0;
}

.banner img {
    width: 100%;
    height: auto;
}

.product-grid {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 10px;
}

.product-container {
    display: flex;
    padding-bottom: 10px;
}

.product-card {
    min-width: 200px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-align: center;
}

.product-card img {
    width: 170px;
    height: 150px;
    margin-bottom: 10px;
}

.product-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price {
    font-size: 14px;
    color: #888;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-top {
    display: flex;
    justify-content: space-around;
}

.footer-column h5 {
    margin-bottom: 10px;
    text-align:center;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    font-size: small;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column address {
    font-style: normal;
    line-height: 1.5;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #444;
}

.footer-links {
    display: flex;
    gap: 30px;
}

.footer-links a {
    color: #ffc107;
    text-decoration: none;
}

.payment-icons img {
    margin-right: 10px;
}